.page {
  color: #ffffff;
  background-color: #000000;
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  padding: 0 200px;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 100vw;
  }
}

@media screen and (max-width: 896px) {
  .page {
    max-width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 100vw;
    min-width: 320px;
  }
}
